.full-page{
  padding: 0 !important;
  
  
}

.upper-page{
  padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: red;
    
}
.main-img{
    
    position: relative;
    width:100%;
    height:100%;
    
    
    background: url("images/homepage.png") no-repeat center center/cover;
  } 
  .main-img::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
    background: transparent linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
    

  }
  .img-top-part{
    align-items: center;
    margin: 0 auto;
    
  }
  .navbar{
    margin-top: 20px;
    height: 40px;
    width:100%;
    
 }
 
 nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
  }
 
  .nav-links{
     flex: 1;
     position: relative;
     text-align: right;
     padding-top: 20px;
     z-index: 2;
     top: 50%;
     
  }
  .nav-links ul li{
     list-style: none;
     display: inline-block;
     position: relative;
     
  }
  .nav-links ul li a{
    text-decoration:  none;
    color: white;
}

.signin{
    text-decoration: none;
    background:transparent;
    color: white;
    padding: .2rem 1rem;
    font-size: 1rem;
    margin-left: .7rem;
    border: 1px solid white;
    
}
  .top-text{
    position: relative;
    
    z-index: 2;
  }
  
  
  .logo{
    
    width: 150px;
    height: 150px;
    color: red;
    font-size: 90px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    
}
.top-heading{
  position: relative;
  color: white;
  font: normal normal 600 30px/50px Poppins;
  padding-top: 20px; 
  margin: 0 auto;
  max-width: 640px;
  z-index: 2;
  text-align: center;
}

.search-group{
  display: flex;
  flex-direction: row;
  max-width: 640px;
  margin: 1rem auto;
  padding-bottom: 50px;
}

.place{
    padding:10px 20px;
    width: 35%;
    height: 60px;
    font: normal normal normal 15px/23px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
}

.locate{
  width: 60%;
  height: 60px;
  margin-left: 20px;
} 
.locate i {
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 0px;
  color: #636F88;
}
.resturant{
  width: 100%;
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 40px;
  font: normal normal normal 15px/23px Poppins;
  letter-spacing: 0px;
  color: #636F88;
  opacity: 1;
}
.heading1{
  margin-top: 50px;
  font: normal normal bold 30px/20px Poppins;
  letter-spacing: 0px;
  color: #192F60;
}
.sub-heading1{
  margin-top: 20px;
  margin-bottom: 20px;
  font: normal normal normal 18px/20px Poppins;
  letter-spacing: 0px;
  color: #8C96AB;
}
.qs{
  padding-top: 20px;
  text-align: left;
  margin-bottom: 30px !important;
}


.card-col{
  display: flex;
  flex: 1 1 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  text-align: left;
  cursor: pointer;
  
}
.card-col:hover{
 background: skyblue 0% 0% no-repeat padding-box;
 opacity: .8;
 
}
.img-food{
  width:80%;
  height:100%;
}

.qs-col h3{
  font: normal normal 600 18px/27px Poppins;
  color: #192F60;
}
.qs-col p{
  font: normal normal normal 14px/21px Poppins;
  color: #8C96AB;
}
@media only screen and (max-width: 770px){
  .search-group{
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 1rem auto;
    padding-bottom: 20px;
  }
  .place{
    width: 100%;
    margin-bottom: 20px;
  }
  .locate{
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width:350px){
   .full-page{
    width:350px !important;
    margin: 0;
   }
}
@media only screen and (min-width:280px) {
  .logo{
    margin-top:40px;
    margin-bottom: px;
  }

.signin{
  margin-top: 0px;
}

.main-img{
  padding-top: 0%;
}
  
}

 
 